.sign-up-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: auto;
  margin: 4% 0;
  background-color: whitesmoke;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.sign-up-container .sign-up-title {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 37px;
}
.sign-up-form {
  float: left;
  width: 62%;
  border-right: solid 1px silver;
  padding-right: 30px;
}
.sign-up-form .sign-up-user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 20px 0;
}
.sign-up-form .input-box {
  flex: 1 1 40%;
  position: relative;
  border-bottom: 2px solid darkgray;
  margin: 50px 25px;
  margin-bottom: 0;
}
.input-box .sign-up-form-input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  letter-spacing: 2px;
  font-size: 18px;
  outline: none;
  border: none;
  background: none;
}
.input-box .sign-up-form-label {
  font-size: 17px;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 5px;
  color: gray;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.input-box .span-class::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.input-box .sign-up-form-input:focus ~ .sign-up-form-label,
.input-box .sign-up-form-input:valid ~ .sign-up-form-label {
  top: -5px;
  color: #2691d9;
}
.input-box .sign-up-form-input:focus ~ .span-class::before,
.input-box .sign-up-form-input:valid ~ .span-class::before {
  width: 100%;
}
#password,
#password2 {
  width: 85%;
}
#show_pw2,
#hide_pw2,
#show_pw3,
#hide_pw3 {
  position: absolute;
  bottom: 25%;
  right: 3%;
  color: black;
}
#hide_pw2,
#hide_pw3 {
  color: #1abedb;
  display: none;
}
#agreement {
  margin: 0 1rem;
}
.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.terms label {
  font-size: 14px;
  color: black;
}
.terms label a {
  color: blue;
  text-decoration: none;
}
.terms label a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.button-and-link {
  margin-left: 36%;
  margin-top: 5%;
}
.sign-up-form input[type="submit"] {
  cursor: pointer;
  border: 1px solid;
  color: #f8efd6;
  background-color: black;
  padding: 10px 35px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  letter-spacing: 2px;
  margin: 0;
}
.sign-up-form input[type="submit"]:hover {
  color: black;
  transition: 0.25s;
  background-color: #f8efd6;
}
.already-a-member {
  display: block;
  color: tomato;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  text-decoration: none;
}
.already-a-member:active,
.already-a-member:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.social-media {
  float: right;
  width: 38%;
}
.social-media-title {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 28px;
  font-size: 28px;
  text-align: center;
}
.social-button button {
  margin-bottom: 30px;
  margin-left: 14%;
  width: 280px;
  height: 55px;
  border-radius: 25px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  font-weight: 800;
  outline: none;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.facebook i {
  font-size: 28px;
  padding-right: 5px;
}
.twitter i {
  font-size: 25px;
  padding-right: 15px;
}
.google i {
  font-size: 25px;
  padding-right: 5px;
}
.facebook {
  background: #32508e;
}
.twitter {
  background: #55acee;
}
.google {
  background: #dd4b39;
}
#facebook-media,
#twitter-media,
#google-media {
  display: none;
}
.social-media .facebook:hover {
  border-color: #32508e;
  transition: 0.5s;
  background-color: #3d64b4;
}
.social-media .twitter:hover {
  border-color: #55acee;
  transition: 0.5s;
  background-color: #8accff;
}
.social-media .google:hover {
  border-color: #dd4b39;
  transition: 0.5s;
  background-color: #ee5e4b;
}
.or {
  position: absolute;
  top: 45%;
  right: 36.75%;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.input-box > i {
  position: absolute;
  top: 17px;
  right: -15px;
  visibility: hidden;
}
.input-box small {
  visibility: hidden;
  position: absolute;
  bottom: -20px;
  left: 5px;
}
.input-box.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.input-box.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
.input-box.error small {
  visibility: visible;
  color: #e74c3c;
}

@media screen and (max-width: 980px) {
  .sign-up-container {
    max-width: 80%;
    height: 760px;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 2%;
    flex-wrap: wrap;
  }
  .sign-up-form {
    width: 100%;
    border-right: none;
    padding: 0;
    margin-right: 10px auto;
  }
  .sign-up-title {
    text-align: center;
    padding-top: 20px;
  }
  .or {
    display: none;
  }
  .social-media {
    width: 100%;
    border-top: 2px black solid;
    margin-top: 30px;
  }
  .social-media-title {
    margin: 30px auto 30px auto;
  }
  .social-button {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .social-button button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 160px;
  }
  #facebook-nomedia,
  #twitter-nomedia,
  #google-nomedia {
    display: none;
  }
  #facebook-media,
  #twitter-media,
  #google-media {
    display: flex;
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .sign-up-container {
    max-width: 95%;
    height: auto;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 2%;
    flex-wrap: wrap;
  }
  .sign-up-title {
    text-align: center;
    padding-left: 0 !important;
  }
  .already-a-member {
    text-align: center;
  }
  .social-button {
    flex-direction: column;
    justify-content: space-around;
  }
  .social-button button {
    margin-bottom: 20px;
  }
  .social-media {
    margin-bottom: 20px;
    width: 100%;
    padding-right: 8px;
  }
  .sign-up-form .sign-up-user-details .input-box {
    margin-bottom: 15px;
    width: 80%;
  }
  .bottom-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
  }
  .button-and-link {
    margin: 25px auto;
  }
}

.signupMsg-wrapper1 {
  position: fixed;
  font-size: 1.15em;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
  display: none;
}
.signupMsg-wrapper2 {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}
.signupMsg-box {
  z-index: 100;
  position: fixed;
  margin: 0 auto 0 auto;
  /* Image from https://unsplash.com/photos/Y3vPEuNlf7w */
  background-image: url("images/signupMsg.jpg");
  border-radius: 30px;
  max-width: 500px;
  width: 85%;
  height: auto;
  padding: 2em 1em;
  animation: signupPopup 1s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes signupPopup {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.signupMsg-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupMsg-header-text {
  text-align: center;
  padding-top: 1.25em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.1em;
}
.fa-smile {
  color: rgb(239, 243, 180);
  font-size: 60px;
}
.signupMsg-content {
  text-align: center;
  padding: 3em 2em 0 2em;
  font-size: 1em;
}
.loginBtn {
  width: auto;
  display: block;
  margin: 2.5em auto 0 auto;
  padding: 0.6em 1.5em;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 500;
  background-color: rgb(48, 47, 47);
  color: white;
}
.loginBtn:hover {
  background-color: whitesmoke;
  color: black;
  transition: 0.4s ease-in-out;
}
.reset-pass-bg {
  /* Image from https://unsplash.com/photos/VsLkbH-hLAY */
  background-image: url("images/marble.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  filter: blur(2px);
  height: 100%;
  width: 100%;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.reset-pass-container {
  background-color: whitesmoke;
  max-width: 550px;
  width: 85%;
  height: auto;
  padding: 2em 1em;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.reset-pass-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem auto;
  margin-bottom: 1.5rem;
}
.reset-pass-content {
  padding: 0 2rem 1rem 2rem;
  text-align: center;
  font-size: 1.5em;
  color: rgb(161, 156, 156);
}
.input-email {
  display: block;
  width: 88%;
  margin: 1rem auto;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0.8rem 1rem;
  font-size: 1em;
}
button.reset-btn {
  width: auto;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 22px;
  font-size: 1em;
  padding: 1em 1.5em;
  display: block;
  margin: 2rem auto;
  cursor: pointer;
}
button.reset-btn:hover {
  color: black;
  background-color: lightsalmon;
}
.overlay {
  display: none;
  z-index: 101;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-reset-container {
  background-color: #f8efd6;
  color: black;
  max-width: 600px;
  width: 85%;
  height: auto;
  padding: 3em;
  font-size: 1em;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 10px 8px 10px gray;
  animation: resetpopup 1.5s 1 ease-in-out;
}
@keyframes resetpopup {
  0% {
    top: 100%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 50%;
  }
}
.popup-reset-header {
  font-size: 2.5em;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.popup-reset-content {
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: 2px;
  padding-top: 1.1em;
  text-align: center;
}
.done-btn {
  width: auto;
  font-size: 1.25em;
  padding: 0.75em 2.5em;
  margin: 1.75em auto 0.75em auto;
  display: block;
  border-radius: 15px;
  cursor: pointer;
  background-color: #84beb5;
  color: white;
  font-weight: 600;
  border: none;
  transition: all 300ms ease-in-out;
}
.done-btn:hover {
  background-color: #8dd3c8;
}
@media screen and (max-width: 666px) {
  .popup-reset-container {
    font-size: 0.75em;
  }
  .reset-pass-container {
    font-size: 0.7em;
  }
  .signupMsg-wrapper1 {
    font-size: 0.7em;
  }
}
