.container {
  display: flex;
  width: 90%;
  margin: 2em auto;
}
.smallcontainer {
  display: flex;
  flex-wrap: wrap;
}

/*accountlist */
.accountlist {
  border-right: 2px solid black;
}
.accountlist > p {
  font-size: 40px;
  margin-right: 2em;
  margin-bottom: 1em;
}
.profile {
  color: black;
  text-decoration: none;
  margin-right: 2em;
  margin-top: 2em;
}
.addresses {
  color: #84beb5;
  text-decoration: none;
  margin-right: 2em;
  margin-top: 2em;
}
.accountlist > ul > li a:hover {
  color: #84beb5;
  text-decoration: none;
}
.accountlist > ul > li {
  list-style: none;
  font-size: large;
}
/*end of accountlist */

/* address boxes */
.addresseslist {
  margin-bottom: 100px;
}
.addresstitle {
  display: flex;
  margin-bottom: 0;
}
.addresstitle > h1 {
  font-size: 50px;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.addressbox1 {
  line-height: 2em;
  padding-top: 2em;
  margin: 0 40px 40px;
  background-color: #f8efd6;
}
.addressbox1 > .smallcontainer > p > a {
  color: black;
  padding-left: 4em;
  font-size: 16px;
  margin-left: 1.1em;
}
.addressbox1 > p {
  padding-left: 4em;
  padding-right: 4em;
  font-size: 20px;
}
.remove {
  margin-bottom: 2em;
  text-decoration: underline;
  font-size: 16px;
  text-align: left;
  margin-left: 1em;
  border-left: 2px solid black;
  padding-left: 1em;
  background-color: #f8efd6;
}
.Newaddress {
  margin-top: 1em;
  margin-left: 5em;
}
.Newaddress > a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .container {
    display: unset;
    width: 100%;
    margin: 2em auto;
  }
  .accountlist {
    border: none;
  }
  .addresseslist {
    margin-top: 2em;
  }
  .addressbox1 > p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15px;
  }
  .addresseslist > h1 {
    font-size: 50px;
  }
  .addressbox1 {
    margin-top: 2em;
    border: 2px dashed black;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;
  }
}
